@page "/authentication/{Action}"
@layout EmptyLayout

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        <div class="auth-loading">
            <p>Redirecting to login...</p>
        </div>
    </LoggingIn>
    <CompletingLoggingIn>
        <div class="auth-loading">
            <p>Completing login...</p>
        </div>
    </CompletingLoggingIn>
    <LogInFailed>
        <div class="auth-loading">
            <p>There was an error logging in. Please try again.</p>
        </div>
    </LogInFailed>
    <LogOut>
        <div class="auth-loading">
            <p>Logging out...</p>
        </div>
    </LogOut>
    <CompletingLogOut>
        <div class="auth-loading">
            <p>Completing logout...</p>
        </div>
    </CompletingLogOut>
    <LogOutSucceeded>
        <div class="auth-loading">
            <p>You have been logged out.</p>
        </div>
    </LogOutSucceeded>
    <LogOutFailed>
        <div class="auth-loading">
            <p>There was an error logging out. Please try again.</p>
        </div>
    </LogOutFailed>
</RemoteAuthenticatorView>

@code {
    /// <summary>
    /// Gets or sets the authentication action (login, logout, etc.).
    /// </summary>
    [Parameter]
    public string? Action { get; set; }
}
