@page "/licenses"

<PageTitle>Open Source Licenses - Budget Experiment</PageTitle>

<div class="page-container">
    <PageHeader Title="Open Source Licenses" Subtitle="Third-party components used in this application" />

    <div class="licenses-intro">
        <p>
            Budget Experiment uses the following open source components.
            We are grateful to these projects and their contributors.
        </p>
    </div>

    <div class="license-entries">
        <div class="license-entry">
            <h2 class="license-component-name">Lucide Icons</h2>
            <p class="license-description">
                The SVG icon paths used in this application are derived from
                <a href="https://lucide.dev/" target="_blank" rel="noopener noreferrer">Lucide Icons</a>.
            </p>
            <div class="license-details">
                <span class="license-type-badge">ISC License</span>
                <a href="https://github.com/lucide-icons/lucide/blob/main/LICENSE"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="license-source-link">
                    <Icon Name="external-link" Size="14" />
                    Source
                </a>
            </div>
            <details class="license-text-details">
                <summary>View full license text</summary>
                <pre class="license-text">ISC License

Copyright (c) for portions of Lucide are held by Cole Bemis 2013-2022 as part of Feather Icons,
and for portions of Lucide are held by Lucide Contributors 2020.

Permission to use, copy, modify, and/or distribute this software for any purpose with or without
fee is hereby granted, provided that the above copyright notice and this permission notice appear
in all copies.

THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS
SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE
AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT,
NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE
OF THIS SOFTWARE.</pre>
            </details>
        </div>
    </div>
</div>
